* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1380px;
    margin: auto;
}

.container::after {
    clear: both;
    display: table;
    content: '';
}

header {
    width: 100%;
    height: 100px;
}

.headerLeft {
    width: 30%;
    float: left;
    height: 100px;
}

.logo {
    width: 30px;
    height: 30px;
}

.logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.headerLeft > ul, .headerRight > ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.headerLeft > ul li, .headerRight > ul li {
    padding: 0 12px;
}

.headerRight {
    width: 70%;
    float: left;
    height: 100px;
}

.headerRight > ul {
    justify-content: flex-end;
}

.dropdownItem {
    position: relative;
}

.dropdownItem > a {
    display: inline-block;
    height: 100px;
    line-height: 100px;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    padding: 15px;
}

.dropdownMenu.funz{
    width: 800px;
    background-color: red;
}

.dropdownMenu.abb{
    background-color: blue;
}

.dropdownMenu.chiSiamo {
    background-color: green;
}

.dropdownMenu.aiuto {
    background-color: yellow;
}

.dropdownMenu.active {
    display: block;
}

.wp-dropdown-menu-ul {
    display: flex;
    justify-content: space-around;
}

.headerRight .dropdownMenu li {
    padding: 15px 0;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}

.accediBTN {
    background-color: #ddd;
}

.scaricaBTN {
    background-color: black;
    color: white;
}
